[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=application/x-wine-extension-avs;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.avs" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
