[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=image/gif;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.gif" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
