[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=video/3gpp;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.3gp" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
