[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=application/x-wine-extension-x265;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.x265" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
