[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=application/vnd.rn-realmedia;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.rm" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
