[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=application/x-wine-extension-yuv;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.yuv" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
