[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=audio/x-mod;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.mod" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
