[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=video/x-ogm+ogg;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.ogm" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
