[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=application/vnd.ms-asf;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.asf" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
