[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=video/x-flv;
Exec=env "WINEPREFIX=/home/eyeriis/.wine" wine start /ProgIDOpen "FormatPlayer.flv" %f
NoDisplay=true
StartupNotify=true
Icon=3FA5_FormatPlayer.0
